<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
       <add key="KEY_VAULT_NAME" value="appsvcdemoskeyvault" />
       <add key="TENANT_ID" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
       <add key="SERVICE_PRINCIPAL_CLIENT_ID" value="21ecfb20-6a39-42e5-84df-2144b36324e6" />
       <add key="SERVICE_PRINCIPAL_SECRET" value="S4_0-Xe_ypFdJ2-5NQ4ZiIOhUqj2d_i8Pd" />
       <add key="CONTAINER_NAME" value="storetraffic" />
   </appSettings>
</configuration>