<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
       <add key="KEY_VAULT_NAME" value="appsvcdemoskeyvault" />
       <add key="TENANT_ID" value="###" />
       <add key="SERVICE_PRINCIPAL_CLIENT_ID" value="###" />
       <add key="SERVICE_PRINCIPAL_SECRET" value="###" />
       <add key="CONTAINER_NAME" value="storetraffic" />
   </appSettings>
</configuration>